/* Century Schoolbook font is very similar to Computer Modern Math: cmmi */
.MATH    { font-family: "Century Schoolbook", serif; }
.MATH I  { font-family: "Century Schoolbook", serif; font-style: italic }
.BOLDMATH { font-family: "Century Schoolbook", serif; font-weight: bold }

/* implement both fixed-size and relative sizes */
SMALL.XTINY		{ font-size : xx-small }
SMALL.TINY		{ font-size : x-small  }
SMALL.SCRIPTSIZE	{ font-size : smaller  }
SMALL.FOOTNOTESIZE	{ font-size : small    }
SMALL.SMALL		{  }
BIG.LARGE		{  }
BIG.XLARGE		{ font-size : large    }
BIG.XXLARGE		{ font-size : x-large  }
BIG.HUGE		{ font-size : larger   }
BIG.XHUGE		{ font-size : xx-large }

/* heading styles */
H1		{  }
H2		{  }
H3		{  }
H4		{  }
H5		{  }

/* mathematics styles */
DIV.displaymath		{ }	/* math displays */
TD.eqno			{ }	/* equation-number cells */


/* document-specific styles come next */
DIV.navigation		{   }
DIV.center		{   }
SPAN.textit		{ font-style: italic  }
SPAN.arabic		{   }
SPAN.textbf		{ font-weight: bold  }
#hue464		{ color: #000000;  }
#hue466		{ color: #000000;  }
#hue468		{ color: #000000;  }
#hue470		{ color: #000000;  }
#hue472		{ color: #000000;  }
#hue479		{ color: #000000;  }
#hue481		{ color: #000000;  }
#hue483		{ color: #000000;  }
#hue485		{ color: #000000;  }
#hue487		{ color: #ffffff;  }
#hue494		{ color: #000000;  }
#hue496		{ color: #000000;  }
#hue498		{ color: #000000;  }
#hue500		{ color: #000000;  }
#hue502		{ color: #ffffff;  }
#hue509		{ color: #000000;  }
#hue511		{ color: #000000;  }
#hue513		{ color: #000000;  }
#hue515		{ color: #000000;  }
#hue517		{ color: #ffffff;  }
#hue524		{ color: #000000;  }
#hue526		{ color: #000000;  }
#hue528		{ color: #000000;  }
#hue530		{ color: #ffffff;  }
#hue532		{ color: #ffffff;  }
#hue539		{ color: #000000;  }
#hue541		{ color: #000000;  }
#hue543		{ color: #000000;  }
#hue545		{ color: #ffffff;  }
#hue547		{ color: #ffffff;  }
